/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/
 

/* ==========================================================================
 Browse Happy prompt
 ========================================================================== */

 .browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
 Author's custom styles
 ========================================================================== */

body {
  font-family: 'News Cycle', Helvetica, sans-serif;
  box-sizing: border-box;
}

.main {
  display: flex;
  // background-color: #BAC5C9;
}

.navbar {
  background-color: #BAC5C9;
  padding-top: 20px;
  width: 40%;
  height: 100%;
  clear: left;
}

.header {
  height: 95px;
  padding: 10px;
  background-color: white;
  margin: 0 auto;
}

.button-holder {
  margin: 0 auto;
}

.retry-button, .listen-button, .spin-button {
  float: left;
  padding: 10px;
  font-size: 20px;
  color: #fff;
  background-color: #CB3743;
  cursor: pointer;
  border: 1px solid #fff;
}

.retry-button:hover, .listen-button:hover, .spin-button:hover {
  background-color: #FFF;
  color: #CB3743;
}

// .retry-button, .listen-button {
//   display: none;
// }

.wheel-holder {
  padding-bottom: 200px;
  padding-top: 100px;
  margin: 20px;
  margin-left: -100px;  

}


.container {
  height: 100%;
  float: right;
  background-color: #2A2722;
  // flex: 0 0 32em;

  
}  

h1 {
  color: #CB3743;
  font-size: 50px;
  margin: 0;
  padding: 0;
}

.ted-image {
  width: 615px;
  height: 461px;
}

 


.video_embed {
  // display: none;
  background-color: yellow;

}

 .selected_quote {
  padding: 10px;
  margin-top: 20px;  
  height: 95px; 
  background-color: RGBA(186, 197, 201, .5);
  color: white;
  font-size: 20px;


    } 

    

   


/* ==========================================================================
 Helper classes
 ========================================================================== */



/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
 EXAMPLE Media Queries for Responsive Design.
 These examples override the primary ('mobile first') styles.
 Modify as content requires.
 ========================================================================== */

 @media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
 Print styles.
 Inlined to avoid required HTTP connection: h5bp.com/r
 ========================================================================== */

 @media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */

   .ir a:after,
   a[href^="javascript:"]:after,
   a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

.flip {
  @include container(80em); 
}


