#spinner {

  margin:  auto;
// width: 600px;
height: 10px;
// border: 1px solid black;
-webkit-perspective: 1000;
}

#rotate {
  margin: 0 auto;
// border: 2px solid red;
height: 30px;
/* Ensure that we're in 3D space */
-webkit-transform-style: preserve-3d;
/*
Make the whole set of rows use the x-axis spin animation
for a duration of 7 seconds, running infinitely and linearly
*/

}



.ring {
  height: 60px;
  width: 50px;
  -webkit-transform-style: preserve-3d;
  -webkit-animation-play-state:paused; 
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

}


.ring > :nth-child(odd) {
  background: -webkit-gradient(left top, left bottom, color-stop(11%, rgba(191,50,61,0.96)), color-stop(22%, rgba(193,54,65,0.96)), color-stop(26%, rgba(194,55,66,1)), color-stop(100%, rgba(210,82,92,1)));/* Chrome, Safari4+ */
background: -webkit-linear-gradient(top, rgba(191,50,61,0.96) 11%, rgba(193,54,65,0.96) 22%, rgba(194,55,66,1) 26%, rgba(210,82,92,1) 100%); /* Chrome10+,Safari5.1+ */
  border: 2px solid #fff;
}

.ring > :nth-child(even) {

background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(149,163,179,1)), color-stop(100%, rgba(212,228,239,1)));
background: -webkit-linear-gradient(top, rgba(149,163,179,1) 0%, rgba(212,228,239,1) 100%);

  border: 1.5px solid #fff;


}

.selection {
  
  position: absolute;
  left: 130px; /*also helps keep ring straight*/
  width: 300px;
  height: 34px;
  color: #FFF;
  -webkit-border-radius: 4px;
  padding: 2px;
  text-align: center;
  font-size: 10px;
}



/*
Set up each row to have a different animation duration
and alternating y-axis rotation directions.
*/
#ring {
  margin-top: 50px;
  -webkit-animation-name: x-spin;
  -webkit-animation-duration: 1s;

}



@-webkit-keyframes x-spin {
  0%    { -webkit-transform: rotateX(0deg); }
  50%   { -webkit-transform: rotateX(180deg); }

  100%  { -webkit-transform: rotateX(360deg); }
}